.form {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 360px;
  margin-top: 28px;
}
.form label {
  text-align: left;
}
input[name='delay'] {
  height: 40px;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid #000000;
  }
}
.form fieldset {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;
  margin-top: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid #000000;
  }
}
.form fieldset label {
  flex-direction: row;
  gap: 8px;
}
.form button {
  margin-top: 24px;
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  background: #4e75ff;
  border: none;
  color: #fff;
  &:hover {
    background: #6c8cff;
  }
}
